<div style="width: 100%; text-align: center;">
  <gojs-diagram [initDiagram]='initDiagram' [nodeDataArray]='diagramNodeData' [linkDataArray]='diagramLinkData'
    [divClassName]='diagramDivClassName' (modelChange)='diagramModelChange($event)'>
  </gojs-diagram>
  <div >
    <p>Hold Shift to move nodes into a lane</p>
    <p *ngIf="demo">{{message}}</p>
    <button mat-stroked-button (click)="doModify()">Modify Existing</button>
    <button mat-stroked-button (click)="doGroup()">Add Group</button>
    <button mat-stroked-button (click)="doNode()">Add Node</button>
    <button mat-stroked-button (click)="doShow()">Show Arrays</button>
  </div>
  <div *ngIf="showArrays">
    <p>{{diagramNodeData|json}}</p>
    <p>{{diagramLinkData|json}}</p>
  </div>
</div>