div{
    margin: 0;
    top:0;
    width: 100%;
    background-color: gray;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
a {
    text-decoration: none;
    color: white;
}