<div style="text-align: center; width: 100%;">
    <a href="../../assets/tf16392878.dotx" download>TestFile</a><br>
    <a href="ms-word:nft|u|http://localhost:4200/assets/tf16392878.dotx">Local</a><br>
    <a href="ms-word:ofe|u|https://hclo365.sharepoint.com/:w:/r/sites/PWESW/DocumentCreation/Design%20document%201.docx">From SharePoint(Pramod's link)</a><br>
    <a href="ms-word:ofe|u|https://hclo365-my.sharepoint.com/:w:/r/personal/william_bui_hcl_com/Documents/Document.docx?d=w36969569cde949b1acaa404793991b49&csf=1&e=y4fB4M">From SharePoint(My link)</a>
    <app-palette></app-palette>
    <app-swim-lane></app-swim-lane>
</div>